In [32]:
#Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
import pandas as pd
df = pd.read_csv('./2017_jun_final.csv')

In [15]:
#Прочитайте отриману таблицю, використовуючи метод head
df.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [16]:
#Визначте розмір таблиці за допомогою методу shape
print(f"кількість рядків та стовпців:{df.shape}")

кількість рядків та стовпців:(8704, 25)

In [4]:
#Визначте типи всіх стовпців за допомогою dataframe.dtypes
print(df.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [31]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("Частка пропусків в кожній колонці:")
print(missing_percentage)

Частка пропусків в кожній колонці:
Series([], dtype: float64)

In [38]:
#Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
columns_with_na = df.columns[df.isna().any()]
columns_to_keep = ['Язык.программирования']
columns_to_drop = [col for col in columns_with_na if col not in columns_to_keep]
df = df.drop(columns=columns_to_drop)

In [41]:
#Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("Частка пропусків в кожній колонці:")
print(missing_percentage)

Частка пропусків в кожній колонці:
N                                   0.0
Должность                           0.0
Язык.программирования               0.0
Общий.опыт.работы                   0.0
Опыт.работы.на.текущем.месте        0.0
Зарплата.в.месяц                    0.0
Изменение.зарплаты.за.12.месяцев    0.0
Город                               0.0
Размер.компании                     0.0
Тип.компании                        0.0
Пол                                 0.0
Возраст                             0.0
Образование                         0.0
Еще.студент                         0.0
Уровень.английского                 0.0
Дата.заполнения                     0.0
User.Agent                          0.0
exp                                 0.0
current_job_exp                     0.0
salary                              0.0
dtype: float64

In [40]:
#Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
df.dropna(inplace=True)

In [42]:
#Визначте новий розмір таблиці за допомогою методу shape
new_shape = df.shape
print("Новий розмір таблиці після видалення рядків з пропусками:", new_shape)

Новий розмір таблиці після видалення рядків з пропусками: (4854, 20)

In [44]:
#Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = df[df['Язык.программирования'].str.contains('Python', case=False, na=False)]
python_data.head()

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
12,13,Software Engineer,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800
68,69,Software Engineer,Python,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900
87,88,Junior Software Engineer,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600
114,115,Junior Software Engineer,Python,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685
143,144,Junior Software Engineer,Python,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750

In [45]:
#Визначте розмір таблиці python_data за допомогою методу shape
print("Новий розмір таблиці python_data:", python_data.shape)

Новий розмір таблиці python_data: (207, 20)

In [48]:
#Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
grouped_by_position = df.groupby('Должность')

In [49]:
#Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада",
#виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
aggregated_data = grouped_by_position.agg({'Зарплата.в.месяц': ['min', 'max']})
aggregated_data.columns = ['Мінімальна_зарплата', 'Максимальна_зарплата']

print(aggregated_data)

                               Мінімальна_зарплата  Максимальна_зарплата
Должность
Data Scientist / Data Analyst                 2700                  2700
DevOps                                        7000                  7000
ERP / CRM                                     2000                  2000
HTML coder                                     385                   600
Junior Software Engineer                        75                  2600
Product Manager                               3000                  3000
Senior Software Engineer                       350                  9200
Software Engineer                              100                  7000
System Architect                               400                 10000
Team lead                                     2500                  4000
Technical Lead                                 500                 18000

In [53]:
#Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць.
#Використовуйте її для методу apply та створіть новий стовпчик "avg"
def fill_avg_salary(row):
    avg_salary = row['Зарплата.в.месяц'] + row['Изменение.зарплаты.за.12.месяцев'] / 12
    row['avg'] = avg_salary
    return row

python_data = python_data.apply(fill_avg_salary, axis=1)
python_data.head()

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,...,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary,avg
12,13,Software Engineer,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,...,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800,816.666667
68,69,Software Engineer,Python,1.5,0.5,900,900,Киев,до 10 человек,Стартап,...,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900,975.000000
87,88,Junior Software Engineer,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,...,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600,600.000000
114,115,Junior Software Engineer,Python,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,...,21,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685,705.833333
143,144,Junior Software Engineer,Python,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,...,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750,770.833333

In [54]:
#Створіть описову статистику за допомогою методу describe для нового стовпчика.
avg_salary_stats = python_data['avg'].describe()
print(avg_salary_stats)

count     207.000000
mean     1785.246779
std      1327.988273
min       100.000000
25%       754.166667
50%      1491.666667
75%      2508.333333
max      9383.333333
Name: avg, dtype: float64

In [55]:
#Збережіть отриману таблицю в CSV файл
python_data.to_csv('./new_data_file.csv', index=False)